modules = ["python-3.11"]
run = "streamlit run app.py"

[nix]
channel = "stable-24_05"
packages = ["glibcLocales", "libxcrypt", "pkg-config", "xsimd"]

[deployment]
run = ["sh", "-c", "streamlit run app.py"]

[[ports]]
localPort = 8501
externalPort = 80
